#![enable(implicit_some)]
(
    columns: [
        {
            "name": "FattyAcid",
            "datatype": Struct([
                (
                    name: "Carbons",
                    dtype: UInt8,
                ),
                (
                    name: "Indices",
                    dtype: List(Int8),
                ),
                (
                    name: "Bounds",
                    dtype: List(UInt8),
                ),
            ]),
            "length": 33,
            "values": [
                {
                    "name": "Carbons",
                    "datatype": UInt8,
                    "bit_settings": "",
                    "values": [
                        10,
                        12,
                        14,
                        15,
                        15,
                        16,
                        16,
                        16,
                        17,
                        17,
                        18,
                        18,
                        18,
                        18,
                        18,
                        20,
                        20,
                        21,
                        20,
                        20,
                        20,
                        20,
                        20,
                        22,
                        22,
                        22,
                        23,
                        22,
                        22,
                        22,
                        22,
                        24,
                        24,
                    ],
                },
                {
                    "name": "Indices",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                None,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                None,
                                None,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                None,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                6,
                                9,
                                12,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                9,
                                12,
                                15,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                                14,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                8,
                                11,
                                14,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                5,
                                8,
                                11,
                                14,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                11,
                                14,
                                17,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                5,
                                8,
                                11,
                                14,
                                17,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                13,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                13,
                                16,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                7,
                                10,
                                13,
                                16,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                7,
                                10,
                                13,
                                16,
                                19,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                4,
                                7,
                                10,
                                13,
                                16,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                4,
                                7,
                                10,
                                13,
                                16,
                                19,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [
                                None,
                            ],
                        },
                    ],
                },
                {
                    "name": "Bounds",
                    "datatype": List(UInt8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                                2,
                                2,
                                2,
                                2,
                                2,
                            ],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": UInt8,
                            "bit_settings": "",
                            "values": [
                                2,
                            ],
                        },
                    ],
                },
            ],
        },
        {
            "name": "Median",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                0.91,
                3.61,
                3.5,
                0.08,
                0.0,
                20.22,
                2.44,
                0.0,
                0.19,
                0.11,
                5.29,
                36.96,
                20.85,
                0.07,
                0.83,
                0.21,
                0.53,
                None,
                0.48,
                0.38,
                0.54,
                0.0,
                0.17,
                0.0,
                0.1,
                0.07,
                0.1,
                0.14,
                0.12,
                0.23,
                0.44,
                0.1,
                0.0,
            ],
        },
        {
            "name": "InterquartileRange",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                0.38,
                2.16,
                2.32,
                0.11,
                0.06,
                3.29,
                1.44,
                0.08,
                0.07,
                0.07,
                1.55,
                3.31,
                4.6,
                0.18,
                0.67,
                0.17,
                0.1,
                None,
                0.18,
                0.16,
                0.19,
                0.05,
                0.19,
                0.04,
                0.18,
                0.13,
                0.23,
                0.12,
                0.17,
                0.21,
                0.58,
                0.46,
                0.19,
            ],
        },
        {
            "name": "ReferenceRange",
            "datatype": Struct([
                (
                    name: "Min",
                    dtype: Float64,
                ),
                (
                    name: "Max",
                    dtype: Float64,
                ),
            ]),
            "length": 33,
            "values": [
                {
                    "name": "Min",
                    "datatype": Float64,
                    "bit_settings": "",
                    "values": [
                        0.52,
                        1.23,
                        1.2,
                        0.0,
                        0.0,
                        17.02,
                        1.12,
                        0.0,
                        0.0,
                        0.0,
                        3.89,
                        28.5,
                        16.58,
                        0.0,
                        0.46,
                        0.12,
                        0.38,
                        None,
                        0.05,
                        0.18,
                        0.37,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                    ],
                },
                {
                    "name": "Max",
                    "datatype": Float64,
                    "bit_settings": "",
                    "values": [
                        1.64,
                        6.41,
                        5.29,
                        0.18,
                        0.14,
                        24.39,
                        3.47,
                        0.21,
                        0.28,
                        0.19,
                        7.37,
                        42.37,
                        27.29,
                        0.2,
                        2.04,
                        0.53,
                        0.95,
                        None,
                        1.89,
                        0.63,
                        1.77,
                        0.85,
                        0.87,
                        0.35,
                        1.8,
                        1.14,
                        1.39,
                        2.74,
                        0.51,
                        1.15,
                        3.69,
                        1.68,
                        0.41,
                    ],
                },
            ],
        },
    ],
)